<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start" defaultHref="/tabs/tab1">
    <ion-back-button></ion-back-button>
  </ion-buttons>
    <ion-title>details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
