<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="tab1">

      <ion-icon name ="sunny"></ion-icon>
      <ion-label>Tab1</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" (click)="tab2selected()">

      <ion-icon name ="moon"></ion-icon>
      <ion-label>Tab2</ion-label>
    </ion-tab-button>
  
  </ion-tab-bar>

</ion-tabs>