<ion-header>
  <ion-toolbar>
    <ion-title>tab1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button (click)="openDetailsInTab()">Open Details with the tab bar</ion-button>
<ion-button routerLink="/details">Open Details without the tab bar</ion-button>
</ion-content>
